<ul class="navigation">
  <li ng-click="selectFilter('Internacional')" ng-class="{ 'active': filterCat == 'Internacional'}">
    <a href="">Internacional</a>
  </li>
  <li ng-click="selectFilter('Virales')" ng-class="{ 'active': filterCat == 'Virales'}">
    <a href="">Virales</a>
  </li>
  <li ng-click="selectFilter('Inmigración')" ng-class="{ 'active': filterCat == 'Inmigración'}">
    <a href="">Inmigración</a>
  </li>
  <li ng-click="selectFilter('Verificación')" ng-class="{ 'active': filterCat == 'Verificación'}">
    <a href="">Verificación/Recursos</a>
  </li>
  <li ng-click="selectFilter('')" ng-class="{ 'active': filterCat == ''}">
    <a href="">Todas</a>
  </li>
</ul>